@import "../utils/variables";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
  p, span, a, label {
    font-size: $main-font-size;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

svg {
  font-size: $svg-size;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: white) {
  html {
    color-scheme: $secondary-color;
  }
  
  body {
    color: $highlight-color;
    background: $secondary-color;
  }
}
