// colors
$primary-color: lightgray;
$secondary-color: white;
$secondary-color-alternative: #f1f1f1;
$highlight-color: black;

// sizes
$main-font-size: 12px;
$medium-font-size: 16px;
$large-font-size: 20px;
$svg-size: 20px;

// container
$container-padding: 0 5%;

// margin
$standard-margin: 30px;