@import "../../utils/variables";

.media {
  margin-top: 30px;

  .title {
    width: 75px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      height: 100%;
      display: flex;
      align-items: center;
      background-color: $primary-color;
      border: none;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  .gallery {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: $standard-margin;
    flex-wrap: wrap;
    margin-top: 10px;

    .card {
      position: relative;
      height: 300px;
      width: 300px;
      border-radius: 10px;
      background-color: $primary-color;
      display: inline-block;
      cursor: pointer;

      .container {
        height: 80%;
        display: flex;
        align-items: center;
        
        img {
          width: 100%;
          height: 100%;
        }
      }
      
      
      .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 20%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        visibility: hidden;
        background-color: $secondary-color-alternative;
        padding: 5%;
        border-radius: inherit;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        cursor: default;

        .left, .right {
          height: 100%;
        }

        .left {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          
          p {
            font-size: 10px;
            margin: 0;
          }

        }

        .right {
          align-self: center;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          width: 60px;

          button {
            height: auto;
            width: 40%;
            background-color: $secondary-color;
            border: 1px solid $primary-color;
            border-radius: 50%;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 5px;
            transform: scale(1);
          }

          button:hover {
            transform: scale(1.1);
            transition: 100ms ease-in;
          }
        }
      }

      .selection {
        label {
          margin-left: 5px;
        }
      }
    }

    .card:hover {
      .footer, .selection {
        visibility: visible;
        animation: show-card-footer 200ms ease-in;
      }
    }
  }

  .list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: $standard-margin;
    flex-wrap: wrap;
    margin-top: 10px;

    .card {
      height: 50px;
      width: 300px;
      background-color: $secondary-color-alternative;
      padding: 0 10px;
      border-radius: 5px;
    }
    
    .container {
      display: none;
    }
    
    .footer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .right {
        align-self: center;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 60px;
        visibility: hidden;

        button {
          height: auto;
          width: 40%;
          background-color: $secondary-color;
          border: 1px solid $primary-color;
          border-radius: 50%;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 5px;
          transform: scale(1);
        }

        button:hover {
          transform: scale(1.1);
          transition: 100ms ease-in;
        }
      }

      .left {
        p {
          font-size: 10px;
        }
      }

      .left:last-child {
        display: none;
      }
    }

    .card:hover {
      .footer {
        .right {
          visibility: visible;
        }
      }
    }
  }
}

@keyframes show-card-footer {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes hover-action-link {
  0% {
    background-color: $secondary-color-alternative;
  }

  100% {
    background-color: $secondary-color;
  }
}